.App {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/f6/af/c6/f6afc605ed57bc581c5bc180bf72309e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

article img{
  width: 380px;
  height: 350px;
}

h1{
  margin-top: 0;

}

a button{
  text-align: center;
}

.places{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around ;
}